<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Landing Page</title>

</head>
<div>
    <div th:insert="common/general.html :: static"></div>
    <header th:insert="common/general.html :: header"></header>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}">
        Invalid username and password.
    </div>

    <form th:action="@{/home/data}">
        <center><h2 class="form-signin-heading">HTML URL Analysis</h2></center>
        <label for="url" class="sr-only">Enter your URL</label>
        <div class="col-xs-4">
            <input type="text" id="url" name="url" class="form-control col-xs-4" placeholder="Enter your URL" required autofocus>
        </div>

        <div class="col-xs-2">
            <button class="btn btn-lg btn-primary btn-block col-xs-2" type="submit">Start Analysis</button>
        </div>

    </form>

    <footer th:insert="common/general.html :: footer"></footer>

</div>
</body>
</html>
